html {
  font-family: 'ars-maquette-web', sans-serif;
}

body {
  display: flex;
  flex-flow: row nowrap;
}

header {
  display: flex;
  flex-flow: row nowrap;
}

#heading {
  margin: 0;
  justify-content: flex-end;
  font-weight: 900;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

aside {
  margin: 8px 16px 0 0;
  width: 100%;
}

aside ul {
  padding: 0;
  margin: 0;
}

aside ul li {
  list-style-type: none;
}

.icon {
  margin: 4px;
}

.nav-icon * {
  stroke: gray;
  fill: none;
}

.nav-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 8px;
  background-color: #ffffff;
  color: darkgray;
  width: 100%;
  min-width: 256px;
  border-radius: 5px;
}

.active-nav-button {
  background-color: #bf1313;
  color: white;
}

.active-nav-button .nav-icon * {
  stroke: white;
}

.nav-button:hover {
  background-color: silver;
  color: black;
  cursor: pointer;
}

.active-nav-button:hover {
  background-color: #bf1313;
  color: white;
}

.nav-button:hover .nav-icon * {
  stroke: black;
}

.active-nav-button:hover .nav-icon * {
  stroke: white;
}

.nav-button-text {
  margin: 0 16px;
  font-size: 1.25em;
}

#media-list {
  padding: 0;
  margin: 0;
}

#media-list li {
  list-style-type: none;
}

#media {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

#media-view {
  display: flex;
  flex-flow: row nowrap;
}

#media-view button {
  border: none;
  background-color: #bf1313;
  color: #ffffff;
  width: 100%;
}

.media-view-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 8px 0;
}

.media-view-item-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 8px;
  font-size: .75em;
}

.media-view-item-header {
  font-weight: 600;
  margin: 8px 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 144px;
  white-space: nowrap;
}

.media-view-item-header:hover {
  cursor: pointer;
  color: #3888c9;
  text-decoration: underline;
}

.media-view-item-metrics {
  color: #bf1313;
  font-weight: 700;

}

.media-view-item-comment-count {
  margin: 0 8px 0 0;
}

.media-view-item-age {
  margin: 0 8px;
}

.media-view-image {
  position: relative;
  cursor: pointer;

}

.media-view-image:hover {
  opacity: .75;
}

.media-view-image img {
  width: 144px;
  height: auto;
  border-radius: 5px;
}

.media-view-image-overlay {
  position: absolute;
  bottom: 10px;
  left: 6px;
  padding: 4px;
  background-color: #bf1313;
  color: white;
  border-radius: 5px;
}

.duration {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.duration span {
  margin: 0 4px;
}

#load-more-button {
  border: none;
  border-radius: 5px;
  background-color: #bf1313;
  color: #ffffff;
  width: 100%;
  font-size: 1.25em;
  padding: 8px;
}

.grow {
  flex: 1 1 auto;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 568px) {
  #content {
    flex-flow: row wrap;
  }
  .tablet {
    display: block;
  }
  .media-view-image img {
    width: 284px;
  }
  .media-view-image-overlay {
    bottom: 10px;
    left: 6px;
    padding: 4px;
    font-weight: 600;
  }
  .media-view-item-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 8px;
    font-size: 1em;
  }
  .media-view-item-header {
    font-size: 1em;
    overflow: visible;
    white-space: normal;
    width: auto;
    text-overflow: unset;
  }
  .nav-button-text {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1350px) {
  aside {
    width: auto;
  }
  #heading {
    font-size: 3em;
  }
  #content {
    flex-flow: row nowrap;
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: block;
  }
 .media-view-item {
    min-width: 640px;
    max-width: 640px;
  }
  .media-view-image img {
    min-width: 320px;
    max-width: 320px;
  }
  .media-view-image-overlay {
    bottom: 10px;
    left: 6px;
    padding: 4px;
  }
  .media-view-item-details {
    min-width: 320px;
    max-width: 320px;
    font-size: 1em;
  }
  .media-view-item-header {
    font-size: 1.25em;
  }
}