body {
  display: flex;
  flex-flow: row nowrap;
}

header {
  display: flex;
  flex-flow: row nowrap;
}

#heading {
  margin: 0;
  justify-content: flex-end;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

aside {
  margin: 8px 16px 0 0;
  width: 100%;
}

aside ul {
  padding: 0;
  margin: 0;
}

aside ul li {
  list-style-type: none;
}

.icon {
  margin: 4px;
}

.icon * {
  stroke: gray;
  fill: none;
}

.nav-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 8px;
  background-color: #ffffff;
  color: darkgray;
  width: 100%;
  min-width: 256px;
  border-radius: 5px;
}

.active-nav-button {
  background-color: #bf1313;
  color: white;
}

.active-nav-button .icon * {
  stroke: white;
}

.nav-button:hover {
  background-color: silver;
  color: black;
  cursor: pointer;
}

.active-nav-button:hover {
  background-color: #bf1313;
  color: white;
}

.nav-button:hover .icon * {
  stroke: black;
}

.active-nav-button:hover .icon * {
  stroke: white;
}

.nav-button-text {
  margin: 0 16px;
  font-size: 1.25em;
}

#media-list {
  padding: 0;
  margin: 0;
}

#media-list li {
  list-style-type: none;
}

#media {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

#media-view {
  display: flex;
  flex-flow: row nowrap;
}

#media-view button {
  border: none;
  background-color: #bf1313;
  color: #ffffff;
  width: 100%;
}

.media-view-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 8px 0;
}

.media-view-item-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 8px;
}

.media-view-item-details h3:hover {
  cursor: pointer;
  color: #3888c9;
  text-decoration: underline;
}

.media-view-item-comment-count {
  margin: 0 8px 0 0;
}

.media-view-item-age {
  margin: 0 8px;
}

.media-view-image {
  position: relative;
  cursor: pointer;
}

.media-view-image:hover {
  opacity: .75;
}

.media-view-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: #bf1313;
  color: white;
  border-radius: 5px;
}

#load-more-button {
  border: none;
  border-radius: 5px;
  background-color: #bf1313;
  color: #ffffff;
  width: 100%;
}

.grow {
  flex: 1 1 auto;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 600px) {
  #content {
    flex-flow: row wrap;
  }
  .tablet {
    display: block;
  }
}

@media only screen and (min-width: 1350px) {
  aside {
    width: auto;
  }
  #heading {
    font-size: 3em;
  }
  #content {
    flex-flow: row nowrap;
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: block;
  }
}